<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="video-bg">
        <video src="video/Plexus_Space_Slomo.mp4" type="video/mp4" autoplay muted loop></video>
        <div class="video-bg__content">
        </div>
    </div>

</body>

</html>



{% extends 'papka/base.html' %} {% block title %} Random {% endblock %} {% block content %}
<h1>Рандомная страница</h1>
{% endblock %}